* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: 'IBM Plex Mono', monospace;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

video {
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    margin-bottom: 10px;
    width: 1280px;
}

.timing {
    width: 1150px;
}

.controls {
    display: flex;
    justify-content: space-between;
}

.progres-bar {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 10px;
}

.buttons {
    display: flex;
    gap: 20px;
}

.fa-circle-play, .fa-circle-pause, .fa-expand, .fa-volume-xmark {
    font-size: 2.5rem;
    cursor: pointer;
}

.fa-circle-play:hover, .fa-circle-pause:hover, .fa-expand:hover, .fa-volume-xmark:hover {
    color: red;
}

.fa-circle-play:active, .fa-circle-pause:active, .fa-expand:active, .fa-volume-xmark:active {
    color: black;
}



.volume {
    width: 250px;
}

.red {
    color: red;
}

